PORT=5000
SUPABASE_URL=https://iuegccdxjpfetvajxvem.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml1ZWdjY2R4anBmZXR2YWp4dmVtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTI2MzMwNiwiZXhwIjoyMDk0ODM5MzA2fQ.Jaknzd2ayU5h7CWG7JFIGt0ihLtl5yHBEcQkC1yugEw
CLERK_SECRET_KEY=sk_test_KIPiFb5zQNt53AV8Lgte8Uh0xY4an6Mq5db7Bb7iXZ
CHAPA_SECRET_KEY=CHASECK_TEST-LCTiKmz4Ym0DVF421vPzJG7GlsbB892s
CHAPA_WEBHOOK_SECRET=b91c7b4763ab8370d135114bd100b1c1c2ce84073a730e3e2a33f9bee0b27340
CLIENT_URL=http://localhost:3000
ngrok_url=https://employee-hardening-shelf.ngrok-free.dev
CLERK_PUBLISHABLE_KEY=pk_test_Y2FyZWZ1bC1qYWNrYWwtODYuY2xlcmsuYWNjb3VudHMuZGV2JA